---
title: Sponsors | Ruby Sauna 2013
body_class: sponsorship page
---

%article
  %h3
    Sponsorship
  %p
    RubySauna is a community–organized not–for–profit event.
    To be able finance venue, food, drinks and speakers we’re depending on the generous help of sponsors.
  %p
    In return we’re able to offer a great platform for local companies to meet potential
    clients, find employees and position their brand within the community. Sounds good? — Come on board as
    a sponsors and
    = succeed "!" do
      %a(href="mailto:info@rubysauna.org" title="Get in touch via email")>
        %strong>
          get in touch

  %h4
    What kind of people typically attend the event?
  %p
    RubySauna brings together enthusiasts of web technology, startups, managers and executives of software and design companies.
    Our attendees are usually experts with years of experience, decision makers and thought leaders within their organizations
    as well as the community.

  %h4
    Our Sponsorship Levels

  %table(cellpadding="0" cellspacing="0" border="0")
    %colgroup
      %col(width="*")
      %col(width="15%")
      %col(width="15%")
      %col(width="15%")
    %thead
      %tr
        %th
          &nbsp;
        %th
          %strong Smoking
          200€
        %th
          %strong Steaming
          400€
        %th
          .sold
            %span
              Sold!
          %strong Sizzling
          600€
    %body
      %tr
        %td
          Logo on website
        %td.yes ✕
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Mention on Twitter and Facebook before the event
        %td.yes ✕
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Custom message in our email publications published surrounding the event
        %td.yes ✕
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Hand-out stickers or other small swag at the event
        %td.yes ✕
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Logo on slides during introduction
        %td.yes ✕
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Mention at the event
        %td.no —
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Rollup or banner at the event
        %td.no —
        %td.yes ✕
        %td.yes ✕
      %tr
        %td
          Personal introduction at the event through the organizers
        %td.no —
        %td.no —
        %td.yes ✕
      %tr
        %td
          Kylmälaukku Sponsorship (your logo or poster on a coldcase with refreshments
          = succeed "!)" do
            %em in the sauna
          We’ll document this novelity on our Twitter and Facebook streams.
        %td.no —
        %td.no —
        %td.yes ✕

  %h4
    Special sponsorship levels
  %p
    In addition to the levels described above we’re also looking for sponsors
    who might be interested in financing T-shirts for our participants.
    Please get in touch if this sounds like something you’d like to do and we’ll
    agree on terms separately.
