html
  background: $black
  min-height: 100%

body
  color: $white
  min-height: 100%
  position: relative
  padding: 0 20px
  +sans

  &:before
    display: none

  &.grid
    &:before
      display: block

a, a:visited, .link
  color: $red
  text-decoration: none
  border-bottom: 1px solid $red
  +transition(color 0.15s ease-out)

a:hover, .link:hover
  border-bottom: none
  color: lighten($red, 10%)

h3
  +with-font-size(24px)
  text-align: center
  text-transform: uppercase

  &:after
    @extend %divider
    +with-font-size(16px, 24px)
      margin: relative(16px auto 15px)


#container
  +outer-container
  z-index: 2

