%section#faq
  %h3
    Frequently Asked Questions
  %dl
    %dt
      What is this ‘sauna’ you keep talking about?
    %dd
      A sauna is basically just a pretty hot (typically between 70 °C and 100 °C) and humid room or house.
      To spend time in the sauna is meant to be a relaxing and social experience.
      %br
      If you haven't tried it before, you definitely should come to Ruby Sauna.
      Finns love
      %a(href="http://en.wikipedia.org/wiki/Finnish_sauna")
        their saunas
      so much they construct their homes around them.
    %dt
      Do I need to bring my own towel?
    %dd
      Yes, please! The venue does not provide towels unfortunately.
  %dl
    %dt
      Is this a mixed sauna event?
    %dd
      No. It’s custom in Finland for women and men to visit the sauna separately.
      (Whichever group is smaller gets to go first.)
      %br
      If you don’t associate yourself with either gender please get in touch with us prior to the event.
    %dt
      Is nudity compulsory in the sauna?
    %dd
      No, but it’s very uncommon in Finland to wear clothes in the sauna and we don’t recommend it.
    %dt
      Do you have a ‘Code of Conduct’ published somewhere?
    %dd
      Indeed we have and we’d really appreciate if you could take a minute to
      %a(href="/conduct")
        read
      it through.