%section#faq
  %h3
    Frequently Asked Questions
  %dl
    %dt
      What is this ‘sauna’ you keep talking about?
    %dd
      A sauna is basically just a pretty hot (typically between 70 °C and 100 °C) and humid room or house.
      To spend time in the sauna is meant to be a relaxing and social experience.
      %br
      If you haven't tried it before, you definitely should come to Ruby Sauna.
      Finns love
      %a(href="http://en.wikipedia.org/wiki/Finnish_sauna")
        their saunas
      so much they construct their homes around them.
    %dt
      Do I need to bring my own towel?
    %dd
      No need, we’ve got you covered. The venue provides towels for everybody.
    %dt
      Is this a mixed sauna event?
    %dd
      No. It’s custom in Finland for women and men to visit the sauna separately.
      (Whichever group is smaller gets to go first.)
      %br
      If you don’t associate yourself with either gender please get in touch with us prior to the event.
    %dt
      Is nudity compulsory in the sauna?
    %dd
      No, but it’s very uncommon in Finland to wear clothes in the sauna and we don’t recommend it.
  %dl
    %dt
      Why on earth in Oulu, Finland?
    %dd
      While Oulu is actually a fairly big city on a Finnish scale and home to many software companies,
      there isn’t really such a thing as a local Ruby community existing anywhere north from Helsinki.
      %br
      Since we love Ruby and the community around it we figured we’ll have to change that and make
      something happen for the northern Rubyists.
      And what could be better suited to bring people together in Finland than ‘sauna’?
    %dt
      Do you have a ‘Code of Conduct’ published somewhere?
    %dd
      Indeed we have and we’d really appreciate if you could take a minute to
      %a(href="/conduct")
        read
      it through.
    %dt
      Who’s organizing RubySauna?
    %dd
      We’re two local web workers in love with Ruby. You can find us on Twitter —
      %a(href="http://twitter.com/tuomasj") Tuomas
      &
      = succeed "." do
        %a(href="http://twitter.com/polarblau") Florian