%header#header
  %h1
    = image_tag "header/logo@2x.png", :alt => "Ruby Sauna"

  %h2
    Warming up to Ruby
    %br
    in the cold north

  %p.meta
    30. October 2013, 17:30  &mdash;  Oulu, Finland

  %p.action
    %a(href="https://tito.io/ruby-sauna/ruby-sauna-october-2013" title="Get your ticket now")
      Get your free ticket

  .background
    = image_tag "header/background.jpg", :alt => ""
