%header#header
  %h1
    = image_tag "header/logo@2x.png", :alt => "Ruby Sauna"

  %h2
    Warming up to Ruby
    %br
    in the cold north

  %section#newsletter
    %p
      Sign–up to our newsletter and we’ll keep you up–to–date on future events and other
      relevant topics!

    %form(action="http://rubysauna.us3.list-manage1.com/subscribe/post?u=ae07e3efbdc9f6f7bba7ff3c1&amp;id=f2708fda5f" method="post" target="_blank")
      %label(for="email")
        Your email address *
      %input.text(type="email" value="" name="EMAIL" id="email" placeholder="Your email address")>
      %input.hidden(type="text" name="b_ae07e3efbdc9f6f7bba7ff3c1_f2708fda5f" value="")
      %input.button(type="submit" value="Subscribe" name="subscribe")


  -#
    %p.meta
      30. October 2013, 17:30  &mdash;  Oulu, Finland

    %p.action
      %a(href="https://tito.io/ruby-sauna/ruby-sauna-october-2013" title="Get your ticket now")
        Get your free ticket

  .background
    = image_tag "header/background.jpg", :alt => ""
