%form.lightning-talks(action="https://docs.google.com/forms/d/16BhA3hNlpq5-2xDHisr38aIPm9X79IaQENZARiOLEs4/formResponse" method="post")
  %p
    You get 5 minutes to talk about whatever you like. Make it count!
  %fieldset.fields
    %label
      %strong
        Title
        %span *
      %input(type="text" name="entry.2044266787" placeholder="Make it snappy!")
    %label
      %strong
        Summary
        %span *
      %textarea(name="entry.737149698" placeholder="What is your talk about? Keep it short.")
    %label
      %strong
        Email
        %span *
      %input(type="email" name="entry.107084037" placeholder="Just for us, we promise!")
  %fieldset.actions
    %button(type="submit") Submit!