---
title: Ruby Sauna 2013
body_class: index
---

= image_tag "background.jpg", :alt => "", :class => "background"

%article
  %p
    30. October 2013 — Oulu, Finland

  %p.action
    %a.button(href="https://tito.io/ruby-sauna/ruby-sauna-october-2013" title="Get your ticket")
      Get your ticket
    %small
      It’s free!
